
* {
    margin: 0px; 
    padding: 0px;
}


/**Nav bar styling**/
.navbar {
    background: linear-gradient(91.06deg, #081120 70.22%, #4971AE 97.07%);
}

.smaller-screen{
    display: none;
}

.collapse{
    display: none;
}

.navbar-brand {
    color: #FFFFFF !important;
    font-family: 'Russo One', sans-serif !important;
}

.dropdown-menu{
    background-color: #F2F5F9;
}

.dropdown-item:hover{
    background-color:#4971AE;
}

.nav {
    display: flex !important;
}

.primaryNav {
    justify-content: center; 
}

.nav-link{
    color: #FFFFFF !important;
}

.log-in-search{
    justify-content: flex-end;
}

/**website btn styling**/
.btn{
    color: #FFFFFF;
}

.btn:hover{
    background: #081120;
}

.btn-outline-success{
    border-color:#081120;
}

.btn-outline-success:hover{
    border-color:#081120;
}

/*main body with map*/

.select-service{
    display: flex;
}

.service-form{
    height: 80vh;
    width: 40%;
    margin: 20px;
    background-color: #F2F5F9;
}



/*form styling*/

.service-form{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}


.form-inline-services1{
    margin-top: 20px;
    width: 80%;
    margin-left: 60px;
    margin-right: auto;

}

.service-form .btn{
    background-color: #F2F5F9 !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
    width: 80% !important;
    color: #4971AE;
    border: transparent !important;

}

.service-form .btn:hover{
    background-color: #081120 !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
    width: 80% !important;
    color: #4971AE;

}

.service-form h3 {
    color: #4971AE;
    text-align: center;
}

.buttons-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 65%;

}

#basic-addon1{ 
    width: 47px;
    background-image: url("../images/search_icon_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#basic-addon2{ 
    width: 47px;
    background-image: url("../images/arrow_back_.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;

}

.form-inline-serviceCat{

    margin-top: 30px;
    width: 75% !important;
    margin: 20px;
    margin-top: 10px;
}


/* styling for map */

#map {
    height: 80vh;
    width: 100%;
    z-index: 100; 
  }

.mapContainer{
    height: 80vh;
    /**outline: 2px solid red;**/
    width: 60%;
    margin: 20px;
}

/*footer*/

#footerContainer { display: flex;
    justify-content: center; 
    flex-direction: column;
    margin: 0px;
    height: 150px;
    align-items: center;
    background-color: #F2F5F9;
}

.footerNav{
    display: flex;
    list-style-type: none;
    color: #4971AE;
}

li {
    margin: 20px;
}

.socialsIcon{
    display: flex;

}

.instagram { display: flex;
    height: 40px;
    width: 40px;
    /**outline: 2px solid #363333;**/
    background-image: url("../images/instagram_socials.svg");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 15px;
cursor: pointer;
transition: 0.3s; 
}

.instagram:hover { 
    
    transform: scale(1.4);
    cursor: pointer; 
 }


.linkedIn { display: flex;
    height: 40px;
    width: 40px;
    /**outline: 2px solid #363333;**/
    background-image: url("../images/linkedin_socials.svg");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 15px; 
cursor: pointer;
transition: 0.3s;
 }

.linkedIn:hover { 
    
    transform: scale(1.4);
    cursor: pointer; 
 }

.twitter { display: flex;
    height: 40px;
    width: 40px;
    /**outline: 2px solid #363333;**/
    background-image: url("../images/twitter_socials.svg");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 15px;
cursor: pointer;
transition: 0.3s;
}

.twitter:hover { 
    
    transform: scale(1.4);
    cursor: pointer; 
 }

.facebook { display: flex;
    height: 40px;
    width: 40px;
    /**outline: 2px solid #363333;**/
    background-image: url("../images/Facebook_socials.svg");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 15px;
cursor: pointer;
transition: 0.3s;
 }

.facebook:hover { 
    
    transform: scale(1.4);
    cursor: pointer; 
}

@media only screen and (max-width: 1000px) {

    .navbar {
        display: none;
    
    }

    .smaller-screen {
        display: flex;
        justify-content: flex-start;
    }

    .collapse{
        display: flex;
           
    }
    
    
    .smaller-screen img {
        margin-left: 10px;
    }
   
    .small-screen-cont{
        display: flex;
        
    } 

    .small-screen-cont{
        display: flex;
        justify-content: space-between!important;
        width: 100%;

    }

    .small-screen-cont .form-inline {

       width: 150px;
        
    }

    .bg-dark{
        background: linear-gradient(110.06deg, #081120 60.22%, #4971AE 97.07%);
    }

    .small-screen-cont .form-inline button{

        display: none;
         
     }

     
     .small-screen-nav {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;

     }

  
}